.page {
  @include page-grid;
  padding-top: 24px;
  padding-bottom: 40px;

  .title {
    @include font-h1;
    grid-column: 1 / -1;
    color: $color-text;
    margin-bottom: 16px;
  }

  .layout {
    grid-column: 1 / -1;
    display: grid;
    gap: 24px;

    @include tablet {
      grid-template-columns: 3fr 1fr;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .summary {
    @include flex-center;
    margin: 0 auto;
    width: 95%;
    flex-direction: column;
    gap: 12px;
    background-color: $color-bg-card;
    border: 1px solid $color-text-accent;
    border-radius: 12px;
    padding: 14px;
    height: fit-content;
    bottom: 16px;
    top: auto;

    @include tablet {
      position: sticky;
      margin: none;
      width: 100%;
      top: 80px;
      bottom: auto;

      border: $border-default;
    }

    .total {
      @include font-h3;
      color: $color-text-accent;

      @include tablet {
        @include font-h1(40px);
      }
    }

    .count {
      @include font-small;
      color: $color-text-muted;
    }

    .orderBtn {
      @include font-body;
      width: 80%;
      min-width: 120px;
      padding: 12px 16px;
      background-color: $color-text-accent;
      color: $color-bg;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $color-text-hover;
      }
    }

    .clearBtn {
      @include font-small;
      background: none;
      border: none;
      color: $color-text-muted;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $color-text-accent;
      }
    }
  }

}

.empty {
  @include flex-center;

  .emptyLink {
    width: max-content;
    text-decoration: none;
    color: $color-text-accent;
    text-align: center;
    margin-block: 10px 170px;

    @include hover-underline;
  }
}