.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200;
  padding: 25px;

  @include flex-center;

  .modal {
    background-color: $color-bg;
    border-radius: $radius-md;
    width: 100%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 24px;
    position: relative;

    scrollbar-width: thin;
    scrollbar-color: $color-text-accent transparent;

    &::-webkit-scrollbar {
      width: 8px;
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-text-accent;
      border-radius: 10px;
    }



    .close {
      position: absolute;
      top: 25px;
      right: 25px;
      background: none;
      border: none;
      color: $color-text-muted;
      cursor: pointer;
      font-size: 26px;
      transition: color 0.3s;

      &:hover {
        color: $color-text-accent;
      }
    }

    .title {
      @include font-h2(24px);

      color: $color-text;
      margin-bottom: 24px;

      @include desktop {
        @include font-h2;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .region {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .regionTitle {
          @include font-h3(20);

          color: $color-text-accent;
          padding-bottom: 8px;
          border-bottom: 2px solid $color-bg;

          @include desktop {
            @include font-h3;
          }
        }
      }

      .location {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 12px;
        background-color: $color-bg-card;
        border-radius: $radius-sm;

        @include desktop {
          gap: 8px;
        }

        .city {
          @include font-body-medium;

          color: $color-text;

          @include desktop {
            @include font-body-medium(18px);
          }
        }

        .address {
          @include font-small;

          color: $color-text-muted;
          text-decoration: none;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: white;
          }

          @include desktop {
            @include font-small(16px)
          }
        }

        .phone {
          @include font-small;

          color: $color-text-accent;
          text-decoration: none;
          transition: color 0.3s;

          @include desktop {
            @include font-small(16px)
          }

          &:hover {
            color: $color-text-hover;
          }
        }
      }



    }



  }
}