%add-to-cart {
  height: 36px;
  width: 136px;
  padding: 5px 15px;
  flex: 1;
  border: none;
  border-radius: 8px;
  color: $color-bg;
  cursor: pointer;
  transition: background-color 0.25s ease;
  text-align: center;

  @include font-body-medium;
}

%add-to-fav {
  width: 36px;
  height: 36px;
  flex: none;
  border-radius: 8px;
  cursor: pointer;

  @include flex-center;
}

.productCard {
  display: flex;
  flex-direction: column;
  background-color: $color-bg-card;
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 12px 16px;
  gap: 6px;

  .imgWrapper {
    width: calc(100% + 32px);
    margin: -12px -16px 0;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    background-color: $color-bg;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .category {
    @include font-small(12px);

    color: $color-text-muted;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .title {
    @include font-h3(18px);
    color: $color-text;
    display: flex;
    align-items: flex-start;

    @include tablet {
      @include font-h3;
    }
  }

  .description {
    @include font-small;
    color: $color-text-muted;
    flex: 1;
  }

  .availability {
    margin: 0 25px;

    .availabilityBtn {
      @include font-small;
      width: max-content;
      background: none;
      border: 1px solid $color-bg-card;
      border-radius: 8px;
      color: $color-text-accent;
      padding: 8px 12px;
      cursor: pointer;
      transition: border-color 0.3s;

      &:hover {
        border-color: $color-text-accent;
      }
    }
  }

  .footer {
    @include flex-between;

    padding: 14px 0;
    border-top: 1px solid $color-bg;
    margin-top: 12px;

    @include tablet {
      padding: 14px 6px;
    }

    .price {
      @include font-h3;
      color: $color-text-accent;
      margin-bottom: 15px;

      @include desktop {
        @include font-h2;
      }
    }

    .buttons {
      display: flex;
      gap: 8px;
      align-items: center;

      .addToCart {
        @extend %add-to-cart;

        background-color: $color-text-accent;

        &:hover {
          background-color: $color-text-hover;
        }
      }

      .addedToCart {
        @extend %add-to-cart;

        background-color: $color-bg;
        color: $color-text-accent;
        transition: color 0.3s ease;

        &:hover {
          border: $border-default;
          border-color: $color-text-accent;
          background-color: $color-bg-card;
        }
      }

      .addToFav {
        @extend %add-to-fav;

        background-color: $color-bg;
        border: 1px solid $color-bg-card;
        transition: all 0.3s ease;

        &:hover {
          border-color: $color-text-accent;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }

      .addedToFav {
        @extend %add-to-fav;

        background-color: $color-bg;
        border: none;
        transition: all 0.3s ease;

        &:hover {
          border: $border-default;
          border-color: $color-text-hover;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}