* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $color-text-accent $color-bg-card;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-body;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}