* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*:not(.modal) {
  scrollbar-width: none;
}

*:not(.modal)::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-body;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}